body {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(34, 34, 34, 1.00);
  padding-top:30px;
  font-size: 1em;
}

.profile-container img {
  float:left;
  margin-left: 30% !important;
}

.profile-container p {
  color:#fff;
  display: inline;
  text-align: left;
  float: left;
  margin: 0px;
  font-weight: lighter;
  padding-left: 10px;
}

.profile-pic {
  width:70px;
  border-radius: 5px;
}
